@import "./home.css";

body {
  margin: 0px;
}

.alignmentContainer {
  margin: 0px;
  height: 100vh;
  width: 97.5vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  font-family: "Product Sans", sans-serif;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(to bottom, rgb(88, 101, 223), gray);
  overflow: hidden;
}

.navDiv {
  position: relative;
  width: calc(100% - 50px);
  max-width: 1440px;
  min-height: 65px;
  height: 70px;
  padding: 0px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20%;
}

.form {
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  width: 30%;
}

input {
  border-radius: 20px 0px 0 20px;
  height: 100%;
  width: 85%;
  padding-left: 5%;
  border: none;
  z-index: 1;
}

select {
  border-radius: 20px;
  height: 100%;
  width: 85%;
  padding-left: 1%;
  border: none;
  z-index: 1;
}

input:focus {
  outline: rgb(102, 99, 99) solid 0.15rem;
}

.searchButton {
  height: 100%;
  border-radius: 0 20px 20px 0;
  border: none;
  width: 25%;
  cursor: pointer;
}

.containerDiv {
  position: relative;
  height: calc(100% - 80px);
  width: calc(100% - 50px);
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 1440px;
  padding: 25px;
}

.cardDiv {
  position: relative;
  height: 30%;
  width: 100%;
  min-height: 200px;
}

.mainDiv {
  height: 70%;
  display: flex;
  gap: 16px;
  align-items: center;
  max-height: 400px;
}

.leftDiv {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.location {
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  font-weight: 400;
  padding: 10px;
  /* border: solid 1px; */
}
.city {
  font-weight: 700;
  font-size: 35px;
}

.temp {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 100px;
}

.seperation {
  height: 90%;
  width: 0px;
  border: 1px rgb(153, 146, 146) solid;
}

.chartDiv {
  width: 70%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}

/* ===CHART STYLE */

.recharts-wrapper {
  width: 90% !important;
  height: 90%;
  /* bottom: -15%;
  left: -2%; */
}

.recharts-surface {
  /* position: absolute; */
  width: 100% !important;
  /* height: 90% imo !important; */
}

.recharts-default-legend {
  display: none;
}

.recharts-text {
  fill: white !important;
}

@media only screen and (max-width: 768px) {
  .containerDiv {
    gap: 50px;
  }

  .mainDiv {
    max-height: fit-content;
    flex-direction: column;
  }

  .leftDiv {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: fit-content;
  }

  .location {
    width: fit-content;
  }

  .temp {
    width: fit-content;
  }

  .seperation {
    height: 0px;
    width: 100%;
  }
  .chartDiv {
    width: 100%;
    height: fit-content;
  }
  .recharts-wrapper {
    width: 100% !important;
  }
}

@media only screen and (max-width: 500px) {
  .alignmentContainer {
    height: fit-content;
  }

  .navDiv{
    gap: 20px;
    justify-content: space-between;
  }

  .containerDiv {
    min-height: 100vh;
    height: fit-content;
  }

  .cardDiv {
    min-height: 200px;
  }

  .mainDiv {
    flex-direction: column;
  }
  .chartDiv {
    height: fit-content;
    max-height: 200px;
  }
  .recharts-wrapper {
    width: 100% !important;
    height: fit-content !important;
  }

  .recharts-wrapper {
    max-height: 200px;
  }
  .location {
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-weight: 400;
    padding: 10px;
  }
  .city {
    font-weight: 600;
    font-size: 30px;
  }
  .temp {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 78px;
  }

  .radioDiv{
    display: flex;
    gap: 10px;
  }
}

/* ================================== */

.radioDiv{
  display: flex;
  gap: 20px;
}

.radioDivSpan{
  width: fit-content;
  display:flex;
  align-items: center;
  justify-content: center;
  gap:5px;
}


.customRadio {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: none;
  border-radius:50% ;
  height: 0.9375rem;
  width: 1rem ;
  cursor: pointer;
}

.customRadio input:checked + .customRadio {
  border: 0;
}

.radio {
  align-self: center;
  display: none;
}

.customRadio .checkmark {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: solid #D8D8D8 1.5px;
  z-index: 2;
  transition: 0.4s;
}

.customRadio input:checked + .checkmark{
  width: 100%;
  height: 45%;
  border-radius: 50%;
  display: inline-block;
  border:solid .3119rem rgb(115, 163, 172);
  opacity: 1;
}

.checkmark::before{
  content: "";
  display: block;
  /* width: inherit;
  height: inherit; */
  border-radius: inherit;
  position: absolute;
  opacity: 1;
  background-color: white;
  top: 0;
  left:0 ;
  right: 0;
  bottom: 0;
  transform: scale(0.4) ;
  z-index: 1;
}

.checkmark::after {
  content: "";
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  position: absolute;
  transform: scale(0);
  top: 0;
  left:0 ;
  right: 0;
  bottom: 0;
  background: rgb(115, 163, 172);
  opacity: 0;
  transition: .2s;
}

.customRadio input:checked+.checkmark::after{
  opacity: .4;
  transform: scale(1.4,3.4) translate(0%,20%);
}

.tempFormat{
  color: white;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  text-transform: capitalize;
  font-family: "Product Sans",sans-serif;
}